In [1]:
import sqlite3
import pandas as pd

In [2]:
df = pd.read_csv("F:\\WEATHER ANALYSIS\\1. Weather Data.csv")

In [3]:
conn = sqlite3.connect('weather.db')

In [5]:
df.to_sql('weather', conn, index=False, if_exists='replace')

8784

# 1. RECORDS OF CLEAR WEATHER

In [6]:
query = """
SELECT *
FROM Weather
WHERE Weather = 'Clear'
"""
result = pd.read_sql_query(query, conn)
result

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
1,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
2,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
3,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
4,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
1321,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
1322,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
1323,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
1324,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
1325,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

# 2. WIND SPEED EQUAL TO 4KM/HR

In [7]:
query2 = """
SELECT * 
FROM Weather
WHERE "Wind Speed_km/h" = 4;
"""
result2 = pd.read_sql_query(query2,conn)
result2

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/5/2012 0:00,-8.8,-11.7,79,4,9.7,100.32,Snow
3,1/5/2012 5:00,-7.0,-9.5,82,4,4.0,100.19,Snow
4,1/7/2012 2:00,-8.1,-11.1,79,4,19.3,100.15,Cloudy
...,...,...,...,...,...,...,...,...
469,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
470,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Snow
471,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
472,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Snow
473,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Snow

# 3. WIND SPEED > 24KM/HR AND VISIBILITY =25

In [8]:
query3 = """
SELECT *
FROM Weather
WHERE "Wind Speed_km/h" > 24 
AND "Visibility_km" = 25;
"""
result3 = pd.read_sql_query(query3,conn)
result3

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
1,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
2,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
3,1/2/2012 2:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
4,1/2/2012 3:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
303,12/28/2012 17:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
304,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
305,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
306,12/30/2012 23:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
307,12/31/2012 0:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

# 4. MEAN VISIBILITY

In [9]:
query4 = """
SELECT AVG(Visibility_km) AS Mean_Visibility
FROM Weather

"""
result4 = pd.read_sql_query(query4,conn)
result4

   Mean_Visibility
0        27.664447